$color-bg: #3b4163;
$color-grey: #53555d;
$color-blue: #4d69fa;


$grid-columns: 12;
$grid-max-width: 65em;

$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

$taken-word-size: 3rem;
