@import "../_variables";
@import "../main/mixins";

.hint {
    text-align: center;
    text-transform: uppercase;
    color: $color-grey;
    font-family: 'Aller';
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    max-width: 600px;
    padding: 1rem;
}

.result {
    margin: 0.3rem auto;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    ul {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        li {
            display: inline-block;
            vertical-align: top;
            background: rgba(0, 0, 0, 0.1);
            color: white;
            font-family: 'Aller Bold';
            margin-right: 0.5rem;
            border-radius: 0.2rem;
            min-height: 3em;
            line-height: 3em;
            width: 2.5em;
            &.guessed {
                background: #53555d;
            }
            &:last-child {
                margin-right: 0;
            }
            @include respond-to(728px) {
              width: 6.5vw;
            }
        }
    }
}

.status {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    text-align: center;
    font-size: 1.3rem;
    &.failure {
        @include status;
    }
    &.success {
        @include status;
    }
    .button {
        text-transform: uppercase;
        color: orange;
        border-radius: 1.5rem;
        border: 4px dashed orange;
        padding: 15px;
        padding-left: 55px;
        padding-right: 55px;
        position: relative;
        display: inline-block;
        font-family: 'Aller Bold' !important;
        cursor: pointer;
        transition: background .3s ease;
        &:hover {
            background: rgba($color-bg, 0.4);
        }
    }
}
