div.hangman
  ul.character
    li.bar
    li.head
    li.neck
    li.corpus
    li.right-arm
    li.left-arm
    li.right-hand
    li.left-hand
    li.right-leg
    li.left-leg
    li.right-foot
    li.left-foot
